body{
    font-family: 'Volkhov', serif;
    margin:1.5rem;
    padding: 1.5rem;
    color:white;
    background-color: black;
}

h1, h2, h3, nav {
    font-family: -apple-system, system-ui, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue',
    Ubuntu, Arial, sans-serif;
}

.card{
    color:black;
}

.navbar{
    background-color: #f2f2f2;
    border-radius: 1rem;
    font-weight: bold;
}
