body{
    font-family: 'Volkhov', serif;
    margin:1.5rem;
    padding: 1.5rem;
    color:white;
    background-color: black;
}

#brand{
    text-align:center;
}

h1, h2, h3 {
    font-family: -apple-system, system-ui, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue',
    Ubuntu, Arial, sans-serif;
}

#jumbo{
    background-color: #fafdfc;
    color:black;
}

